@font-face {
	font-family: RobotoLight;
	src: url('../fonts/Roboto-Light.ttf');
}
@font-face {
	font-family: RobotoRegular;
	src: url('../fonts/Roboto-Regular.ttf');
}
body{
	font-family: 'Titillium Web', sans-serif;
		background:#ececec;
}
.container-fluid{

margin: 5px  0;
}
.row{
		    box-shadow: 0 1px 1px #a29c9c;
		    margin-bottom: 4em;
		    background: #fff;
		    position: relative;
}	


.col-md-4{
    padding-top: 10px;
    padding-bottom: 10px;
}
.col-md-4:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 2rem;
    bottom: 2rem;
    left: 0;
    width: 1px;
    background-color: #dfe1e8;

}
.match-list__date {
    padding: 5px 12px;
    float: left;
    border-radius: 5px;
    position: absolute;
    top: -30px;
    margin: 0;
    background: #08a9ea;
    color: white;
    font-size: 1.8rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
h4{	
	font-size:1.9rem;
	color: #636262;
    padding-bottom: 4px;
    border-bottom: 1px solid #cecece;
    display: table;
}
ul {
    margin-top: 0;
    margin-bottom: 10px;
    list-style-type: none;
    padding: 0 15px;
}
img {
    vertical-align: middle;
    width: 250px;
    margin: 0 auto;
    display: table;
    margin-bottom: 10px;
}
	.row{
		margin-left:0;
		margin-right:0;
	}
@media screen and (max-width: 768px) {

	.col-md-4:before {

    display: none

}img {
	margin-bottom:35px;
    width: 200px;
}
h4 span{
	float:left;
	padding-right:8px;
}
}



